@charset "UTF-8";

/*reset*/
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, form, dl, dt, dd, ol, ul, li, input, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
    background: transparent;
}
a, blockquote, body, button, caption, dd, div, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, input, li, ol, p, pre, select, small, span, table, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
}
div {
    display: block;
}
body {
    background: #fff;
    font-size: 12px;
    color: #000;
}