@charset "UTF-8";
/* top-manu */
.header {
    width: 100%;
    display: flex;
    align-items: stretch;
    background-color: #AECCBE;
}
.header .titl {
    padding: 0.4rem;
}
.header .titl a {
    padding: 0.4rem;
    color: white;
}
.header .top-menu {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.top-menu-item {
    padding:0.5rem 1.2rem;
}
.top-menu-item a {
    color:white;
    font-size:0.5rem;
    font-weight:bold;
}
.top-menu-item a:hover {
    color: lightgray;
}
.top-menu-item span {
    background-color: #3E76F6;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    font-weight:normal;
    width: 15px;
    height: 15px;
    padding: 0px 0px;
    border-radius:50%;
}
/* inner */
/* myinfo */
.inner {
    display: flex;
    width: 100%;
    padding: 2rem 1rem;
    background-color: #AECCBE;

}
.my-info {
    background-color: #AECCBE;
    display:flex;
    min-width:400px;
}
.my-info .my-profile {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position:relative;
    top:10px;
    margin-left:1rem;
}
.my-info img {
    display: none;
}
.my-info .dsec {
    color: white;
    padding:1rem;
    margin-left:1rem;
}
.my-info .dsec .name {
    display:inline;
}
.my-info .dsec .link-modify {
    font-size:small;
    color:gray;
    vertical-align: bottom;
    margin-left:0.3rem;
}
.my-info .dsec .link-modify:hover {
    color:lightgray;
}
.my-info .dsec .join-date {
    font-size:x-small;
    color:gray;
    margin-top: 1rem;
}

/* my-menu */
.my-menu-list {
    margin-left: auto;
    display:flex;
    background-color:#AECCBE;
}
.my-menu-list .my-menu-item {
    width:200px;
}
.my-menu-list .my-menu-item a {
    color:white;
    line-height: 2rem;
}
.my-menu-list .my-menu-item a:hover {
    color: lightgray;
}
.my-menu-list .my-menu-item a > i {
    font-size: 2rem;
}
.my-menu-list .my-menu-item a > div {
    font-size: 0.8rem;
}
.my-menu-list .my-menu-item a > strong {
    font-size: 2rem;
}

/* navigation */
.nav-list {
    width: 200px;
    line-height: 2rem;
    padding : 1em;
    margin-top: 35px;
}
.nav-list .titl {
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
}
.nav-list .nav-item a {
    color: black;
    font-size: 0.9rem;
}
.nav-list .nav-item a:hover {
    color: #0078ff;
}
/* section */
.container {
    width:100%;
}
table {
    border-collapse: collapse;
    overflow-wrap: normal;
    width:1000px;
}
th:nth-child(1) {
   
}
th:nth-child(2) {
    padding-left: 5rem;
    padding-right: 5rem;
}
th,td {
    padding: 1rem;
}
table th {
    border-top : 2px solid black;
    border-bottom: 1px solid black;
}
table td {
    text-align: center;
    padding: 3em 0;
}
table td:hover {
    background-color: lightgray;
}
table label {
    display: none;
}